
@{
    ViewBag.Title = "_footer";
    Layout = null;
}

<footer id="lienhe">
    <div class="box-container">
        <div class="box">
            <h3>Về chúng tôi</h3>
            <p>Chào mừng bạn đến với HBmarket, trang web hàng đầu chuyên cung cấp các sản phẩm phần mềm, tiện ích cho máy tính, ứng dụng và trang web. Tại HBmarket, chúng tôi cam kết mang đến cho khách hàng những sản phẩm chất lượng cao, giúp nâng cao hiệu quả công việc và trải nghiệm sử dụng công nghệ.</p>
            <p><i class="fa-solid fa-phone" style="color: #ffffff;"></i> Hotline:</i> 0327 321 891</p>
            <p><i class="fa-solid fa-envelope-open" style="color: #ffffff;"></i> Email:</i> dohoangnhan944@gmail.com</p>

        </div>
        <div class="box">
            <h3>Khu vực</h3>
            <a href="#"> <i class="fa-solid fa-location-dot"></i>  Hồ Chí Minh</a>
            <ul>
                <li>
                    215 Điện Biên Phủ, P.15, Bình Thạnh, TP.HCM
                </li>
                <li>
                    120 Hòa Bình, P. Hòa Thạnh, Tân Phú, TP.HCM
                </li>
            </ul>
            <a href="#"><i class="fa-solid fa-location-dot"></i>  Hà Nội</a>
            <a href="#"><i class="fa-solid fa-location-dot"></i>  Đà Nẵng</a>
        </div>
        <div class="box">
            <h3>Liên kết</h3>
            <a href="#">Home</a>
            <a href="mua.html">Shop</a>
            <a href="#">Sản phẩm</a>
        </div>
        <div class="box">
            <h3>Mạng xã hội</h3>
            <a href="#"><i class="fa-brands fa-facebook-f"></i> Facebook</a>
            <a href="#"><i class="fa-brands fa-instagram"></i> Instagram</a>
            <a href="#"><i class="fa-brands fa-twitter"></i> Twitter</a>
            <a href="#"><i class="fa-brands fa-youtube"></i> Youtube</a>
        </div>
    </div>
    <footer>
        <section class="footer2">
            <div class="box-container2">
                <font style="font-size: 18px">Bản quyền của HBmarket <sup>®</sup> 2023. Bảo lưu mọi quyền.</font>
            </div>
        </section>

